# Distributed Server
distributed_server/bin/*
distributed_server/obj/*

# Central Server
central_server/node_modules/*
central_server/package-lock.json
central_server/yarn.lock
central_server/central_server_log.csv
